@font-face {
  font-family: "MullerRegular";
  src: url('/css/fonts/MullerRegular.woff');
}

@font-face {
  font-family: "MullerBold";
  src: url('/css/fonts/MullerBold.woff');
}

@font-face {
  font-family: "MullerExtraBold";
  src: url('/css/fonts/MullerExtraBold.woff');
}

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "MullerRegular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MullerBold", sans-serif;
}

.color-gold {
  color: #ffaf18;
}

.color-grey {
  color: #b99150;
}

.color-brown {
  color: #382400;
}

.text-center {
  text-align: center;
}

.margin-left-24 {
  margin-left: 24px;
}

.container {
  background-image: url(/images/footer/pizzzzza.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.block {
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  background-color: #ffaf18;
  border-radius: 0px;
  color: #382400;
  cursor: pointer;
  font-family: "MullerBold", sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  text-align: center;
  transition: ease-in-out .2s;
}

.btn:hover {
  background-color: #f5a124;
  border-radius: 8px;
}

.btn-select {
  margin-top: 40px;
  width: 224px;
}

.btn-busket {
  height: 52px;
  width: 100%;
}

.btn-order {
  width: 100%;
}

.btn-toggle {
  margin-right: 16px;
  margin-top: 6px;
  width: 60px;
}


/* Navigation */
.navigation-cover {
  box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.128);
}

.navigation {
  display: flex;
  height: 100px;
  padding: 15px 0;
}

.logo {
  align-items: center;
  display: flex;
  width: 204px;
}

.logo-image {
  height: 69px;
  width: 68px;
  margin-right: 8px;
}

.logo-title {
  color: #ffaf18;
  font-family: "MullerExtraBold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.navigation-items {
  align-items: center;
  display: flex;
  list-style: none;
  margin-left: 204px;
  text-align: center;
}

.navigation-item {
  align-items: baseline;
  color: #b99150;
  cursor: pointer;
  font-size: 16px;
  margin-right: 50px;
  transition: ease-in-out .2s;
}

.navigation-item:hover {
  color: #382400;
}


/* Для мобильной версии */
.navigation-mobile {
  display: none;
  justify-content: space-between;
  height: 100px;
  padding: 15px 0;
}

.navigation-mobile-items {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.128);
  display: none;
  flex-direction: column;
  list-style: none;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 100%;
}

.navigation-mobile-item {
  color: #b99150;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
  text-align: center;
  border-top: 1px solid #b99150;
  transition: ease-in-out .2s;
}

.showItems {
  display: flex;
}

/* Конец Для мобильной версии */


/* Hellow */
.hellow {
  background-image: url(/images/hellow/pizza_big.png);
  background-repeat: no-repeat;
  background-position: center right;
  height: 448px;
  margin-top: 134px;
}

.hellow-title {
  font-size: 45px;
  line-height: 1.2;
}

.hellow-items-cover {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 50%;
}

.hellow-item {
  display: flex;
  align-items: start;
  font-size: 16px;
  margin-top: 20px;
  padding-right: 8px;
  width: 50%;
}

.hellow-item-image {
  margin-right: 8px;
  padding-right: 8px;
  width: 60px;
}

.hellow-item-title {
  color: #ffaf18;
  font-weight: bold;
  text-transform: uppercase;
}

.hellow-item-text {
  color: #b99150;
  line-height: 1;
  margin-top: 6px;
}


/* Select */
.select {
  margin-top: 100px;
}

.select-cover {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.select-title {
  font-size: 35px;
}

.select-item {
  color: #382400;
  box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.128);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 354px;
  margin-top: 24px;
  padding: 20px 20px 16px 20px;
  width: 282px;
}

.select-item-image {
  display: block;
  height: 144px;
  margin: 0 auto;
  width: 204px;
}

.select-item-title {
  font-family: "MullerBold", sans-serif;
  font-size: 18px;
  margin-top: 16px;
}

.select-item-text {
  margin-top: 16px;
}



/* Footer */
.footer {
  display: flex;
  margin-top: 240px;
  padding-bottom: 100px;
}

.footer-message {
  width: 384px;
}

.footer-title {
  font-family: "MullerExtraBold", sans-serif;
  font-size: 35px;
  line-height: 1.2;
}

.footer-text {
  color: #b99150;
  line-height: 1.4;
  margin-top: 64px;
}

.footer-form {
  margin-left: 128px;
  padding-top: 46px;
  width: 330px;
}

.footer-form-input {
  border: 1px solid #b99150;
  margin-bottom: 24px;
  padding: 24px;
  width: 100%;
}

.footer-form-input::placeholder {
  color: #b99150;
  font-family: "MullerRegular", sans-serif;
  font-size: 18px;
}

/* modal-window */
.modal-window {
  background-color: rgba(70, 70, 70, 0.7);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal-close {
  position: fixed;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
}

.modal-image {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
}

/* До ширины 768px для мобильных */
@media screen and (max-width: 768px) {

  .navigation-mobile {
    display: flex;
  }

  .hellow,
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hellow {
    background: none;
    margin-top: 34px;
  }

  .navigation {
    display: none;
  }

  .logo {
    margin-left: 16px;
  }

  .hellow-title {
    text-align: center;
  }

  .hellow-items-cover {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
  }

  .hellow-item {
    width: 100%;
  }

  .btn-select {
    margin-top: 40px;
    width: 100%;
  }

  .select {
    margin-top: 260px;
  }

  .select-item {
    margin-left: 0;
    width: 100%;
  }

  .footer {
    display: block;
    margin-top: 60px;
  }

  .footer-message {
    width: 100%;
  }

  .footer-form {
    margin-left: 0;
    padding-top: 46px;
    width: 100%;
  }
}

/* Для планшетов */
@media screen and (min-width: 769px) and (max-width: 1200px) {

  .hellow,
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hellow {
    margin-top: 64px;
  }


  .logo {
    margin-left: 16px;
  }

  .select-item {
    margin-left: 0;
    width: 50%;
  }
}