@font-face {
  font-family: "MullerRegular";
  src: url('/css/fonts/MullerRegular.woff');
}

@font-face {
  font-family: "MullerBold";
  src: url('/css/fonts/MullerBold.woff');
}

@font-face {
  font-family: "MullerExtraBold";
  src: url('/css/fonts/MullerExtraBold.woff');
}

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "MullerRegular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MullerBold", sans-serif;
}

.color-gold {
  color: #F6AF47;
}

.color-grey {
  color: #B5905B;
}

.color-brown {
  color: #362408;
}

.text-center {
  text-align: center;
}

.margin-left-24 {
  margin-left: 24px;
}

.block {
  height: 64px;
  margin: 4px auto;
  /* max-width: 900px; */
  max-width: 1200px;
}

.btn {
  background-color: #F6AF47;
  color: #362408;
  font-family: "MullerBold", sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  min-width: 224px;
  text-align: center;
}

.btn-select {
  margin-top: 40px;
}

.btn-busket {
  height: 52px;
  /* margin-top: 34px; */
  width: 100%;
}

.border {
  border: 2px solid grey;
}

.border-orange {
  border-color: orangered;
}

.border-green {
  border-color: green;
}

/* Header */
.header {
  height: 100vh;
}

/* Navigation */
.navigation-cover {
  box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.128);
}

.navigation {
  /* background-color: aquamarine; */
  display: flex;
  height: 100px;
  padding: 15px 0;
}

.logo {
  align-items: center;
  display: flex;
  width: 204px;
}

.logo-image {
  height: 69px;
  width: 68px;
  margin-right: 8px;
}

.logo-title {
  color: #F6AF47;
  font-family: "MullerExtraBold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.navigation-items {
  align-items: center;
  display: flex;
  list-style: none;
  margin-left: 204px;
  text-align: center;
}

.navigation-item {
  align-items: baseline;
  color: #B5905B;
  font-size: 16px;
  margin-right: 50px;
}

/* Hellow */

.hellow {
  background-image: url(/images/hellow/pizza_big.png);
  background-repeat: no-repeat;
  background-position: center right;
  height: 448px;
  margin-top: 134px;
}

.hellow-title {
  font-size: 45px;
}

.hellow-items-cover {
  /* border: 1px solid purple; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 50%;
}

.hellow-item {
  display: flex;
  align-items: start;
  font-size: 16px;
  margin-top: 20px;
  padding-right: 8px;
  width: 50%;
}

.hellow-item-image {
  margin-right: 8px;
  padding-right: 8px;
  width: 60px;
}

.hellow-item-title {
  color: #F6AF47;
  font-weight: bold;
  text-transform: uppercase;
}

.hellow-item-text {
  color: #B5905B;
  line-height: 1;
  margin-top: 6px;
}

/* Select */
.select {
  /* height: 70vh; */
  margin-top: 160px;
}

.select-cover {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.select-title {
  font-size: 35px;
}

.select-item {
  /* background-color: aquamarine; */
  box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.128);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 354px;
  margin-top: 24px;
  padding: 20px 20px 16px 20px;
  /* width: 25%; */
  width: 282px;
}

.select-item-image {
  display: block;
  height: 144px;
  margin: 0 auto;
  width: 204px;
}

.select-item-title {
  font-family: "MullerBold", sans-serif;
  font-size: 18px;
  margin-top: 16px;
}

.select-item-text {
  margin-top: 16px;
}





/* Footer */
.footer-message {
  width: 384px;
}

.footer-text {
  margin-top: 30px;
}

.footer-form {
  margin-left: 128px;
}